
html {
   box-sizing: border-box;
   color: white;
   font-size: 12pt;
   font-family: 'Oswald', sans-serif;
   font-weight: 300;
}

*, *::before, *::after {
   box-sizing: inherit;
   color: inherit;
   font: inherit;
}

.countryField, .nameField, .hobbyField {
  display: flex;
}

form input {
  background-color: rgba(0,0,0,1);
  flex: 1;
}

span {
  display: inline-block;
  width: 110px;
  margin-left: 30px;
}

body {
 background: url("../images/bgc1.jpg") no-repeat rgba(0,0,0,0.8);
 background-size: cover;
 margin: 0;
}

.main-header {
 position: relative;
}

form {
  background-color: rgba(0,0,0,0.5);
  border: 2px solid black;
  width: 500px;
  height: 375px;
  margin: 150px auto;
  padding-top: 45px;
  font-size: 20pt;
}

form > button {
  width: 450px;
  background: linear-gradient(135deg, rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%);
  margin-left: 25px;
}

form > * + * {
  margin-top: 30px;
}

form > div > input {
  width: 320px;
  height: 50px;
  margin-right: 40px;
}

.header-container {
  background-color: black;
}

.header-logo > img {
  width: 200px;
  height: 150px;
  border: 15px solid black;
  border-radius: 6px;
  background-color: rgba(255,0,0,0.5);
}

.header-logo {
 position: absolute;
 left: 70px;
 top: 0;
 display: inline-block;
 height: 150px;
 width: 150px;
 color: white;
}

.header-logo > p {
  text-align: center;
  font-size: 2em;
  margin: 0;
  position: relative;
}

.robot-p {
  color:red
}

.humans-p {
  color: blue;
}

.main-header > nav {
 background-color: black;
 margin-left: 300px;
}

.main-nav a {
 display: inline-block;
 padding: 30px 50px;
 text-decoration: none;
 color: white;
 font-size: 1.6em;
 text-transform: uppercase;
}

.main-nav a:hover {
 color: #5B557D;
}

.hobby, .name, .anchors {
    font-size: 20pt;
}

.item {
  border-bottom: 5px solid rgba(255,255,255, 0.3);
  position: relative;
  color: #fff;
  background-color: transparent;
  width:32%;
  display:inline-block;
  * display:inline;
  margin: 0px 3px 10px 3px;
  box-sizing:border-box;
  text-align:center;
  text-transform:uppercase;
  overflow:hidden;
}

.item:before {
  content:'';
  background-repeat: no-repeat;
  background-size: 100%;
  width:30px;
  display:block;
  margin:0 auto;
}

.item:after {
  content: "";
  display:block;
  border-top: 0 #fff solid;
  border-bottom: 30px transparent solid;
  border-left: 30px rgba(255,255,255,0.9) solid;
  position:absolute;
  top:0;
  left:0;
  width:0;
  z-index:-1;
  overflow:hidden;
}

.item:hover:after {
  z-index:-1;
  border-left: 500px solid rgba(255,255,255,0.5);
  border-bottom:280px solid transparent;
  overflow:hidden;
  background-color:rgba(255, 0, 0, 0.6);
}

.item:hover {
  color:#007766;
  overflow:hidden;
  margin-bottom: 10px;
  cursor:pointer;
}

.item:hover, .item:after, .item {
  transition: 0.5s color ease;
}

.item:hover, .item:after {
  transition: 0.5s border ease;
}

.item:after {
  overflow:hidden;
}

.item:before, .item:hover:before, .item:hover:after {
  transition: 0.75s all ease;
}


.info {
  position: absolute;
  font-size: 25px;
  color: white;
}

.item .info {
  display: none;
}

.item:hover .info {
  display: block;
}

.container {
  margin: 0px 267px;
}
