body {
  font-family: "Helvetica" sans-serif;
  font-weight: 100;
  font-size:8px;


  background:url('http://orig11.deviantart.net/7511/f/2014/125/d/7/post_apocalyptic_vilnius_by_latusma-d7h8ctr.jpg') no-repeat rgba(0,0,0,0.8);
  background-size: cover;
  overflow:hidden; 
}

img {
  border-bottom: 5px solid rgba(255,255,255, 0.3);
  border-radius: 20
}

.hobby, .name, .anchors {
    font-size: 20pt;
}

.container a {
    text-decoration: none;
    color: gray
}

.item {
  position: relative;
  color: #fff;
  background-color: transparent;
  width:24%;
  display:inline-block;
  * display:inline;
  margin: 0px 3px 10px 3px;
  box-sizing:border-box;
  text-align:center;
  text-transform:uppercase;
  overflow:hidden;
}

.item:before {
  content:'';
  background-repeat: no-repeat;
  background-size: 100%;
  width:30px;
  display:block;
  margin:0 auto;
}

.item:after {
  content: "";
  display:block;
  border-top: 0 #fff solid;
  border-bottom: 30px transparent solid;
  border-left: 30px rgba(255,255,255,0.9) solid;
  position:absolute;
  top:0;
  left:0;
  width:0;
  z-index:-1;
  overflow:hidden;
}

.item:hover:after {
  z-index:-1;
  border-left: 500px solid rgba(255,255,255,0.5);
  border-bottom:280px solid transparent;
  overflow:hidden;
  /*background-color:rgba(128,128,128,0.6);*/
}

.item:hover {
  /*color:#007766;*/
  overflow:hidden;
  margin-bottom: 10px;
  cursor:pointer;
}

.item:hover, .item:after, .item {
  transition: 0.5s color ease;
}

.item:hover, .item:after {
  transition: 0.5s border ease;
}

.item:after {
  overflow:hidden;
}

.item:before, .item:hover:before, .item:hover:after {
  transition: 0.75s all ease;
}

