<form action="#" class="product">
  <div>
    Name: <input type="text" name="name" value="{{name}}">
  </div>
  <div>
    Country: <input type="text" name="country" value="{{country}}">
  </div>
  <div>
  	Hobby: <input type="text" name="hobby" value="{{hobby}}">
  </div>
  <button>Submit</button>
</form>
