<form action="#" class="product">
  <div class="nameField">
    <span>Name:</span><input type="text" name="name" value="{{name}}">
  </div>
  <div class="countryField">
    <span>Country:</span><input type="text" name="country" value="{{country}}">
  </div>
  <div class="hobbyField">
  	<span>Hobby:</span><input type="text" name="hobby" value="{{hobby}}">
  </div>
  <button class="hvr-underline-from-center">Submit</button>
</form>
